# directories
/node_modules

# files:
package-lock.json
bot/bot-data/followedUsers.json
bot/bot-data/profileInfo.json

# here is all configuration for running bot 
bot/config.js

# TODO: add files from bot-data